anyio
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
cloudflare
cryptography
dnspython
h11
h2
hpack
httpcore
httpx
hyperframe
idna
jsonlines
markdown-it-py
mdurl
numpy
psutil
pycparser
Pygments
PySocks
PyYAML
requests
requests-toolbelt
rfc3986
rich
ruamel.yaml
ruamel.yaml.clib
sniffio
soupsieve
urllib3
